<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="./packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	<add key="MachineLearning-ORTFeaturizers" value="https://devdiv.pkgs.visualstudio.com/DevDiv/_packaging/MachineLearning-ORTFeaturizers/nuget/v3/index.json" />
  </packageSources>
</configuration>
